*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.noscroll {
        overflow: hidden;
    }
}

main {

}

a {
    text-decoration: none;
    color: inherit;

    &:link, &:visited, &:hover {
        text-decoration: none;
    }
}

aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
    list-style: none;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

label {
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}